# Estetään Pythonin automaattisen välimuistikansion meno GitHubiin
__pycache__/

# Estetään varmuuskopiot ja testijutut sisältävä kansio
Ylimääräiset kansio/

# Estetään oma config.json, jotta muiden asetukset tai pelipolut eivät mene solmuun
config.json

# Jos teet tästä joskus .exe-tiedoston PyInstallerilla, nämä estävät turhat koontikansiot
build/
dist/
*.spec
